<ion-toolbar>
    <ion-title>
        {{'DETAILS' | translate}}
    </ion-title>

    <ion-buttons start>
        <button ion-button (click)="dismiss()">
        <span ion-text color="primary">{{'BACK' | translate}}</span>
      </button>
    </ion-buttons>
</ion-toolbar>