<!--
  Generated template for the Moves page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <common-header [pageTitleCode]='getTitleCode()'>

  </common-header>

</ion-header>


<ion-content padding text-wrap>

  <ion-segment [(ngModel)]="selectedSegmentId">
    <ion-segment-button *ngFor="let segment of segments" value="{{segment.id}}">
      {{segment.label | translate}}
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedSegmentId">
    
    <ion-item-group *ngSwitchCase="segments[0].id">
      <ion-item-divider color="light">{{'MOVES.BASIC.LABEL' | translate}}</ion-item-divider>
      <ion-item *ngFor="let move of basicMoves" (click)="openMoveDetails(move)">
        <p [innerHTML]="move.header"></p>
        <!--<p [innerHTML]="move.description | translate"></p> -->
      </ion-item>

      <ion-item-divider color="light">{{'MOVES.SPECIAL.LABEL' | translate}}</ion-item-divider>
      <ion-item *ngFor="let move of specialMoves" (click)="openMoveDetails(move)">
        <p [innerHTML]="move.header"></p>
        <!--<p [innerHTML]="move.description | translate"></p> -->
      </ion-item>
    </ion-item-group>

    <ion-item-group *ngSwitchCase="segments[1].id">
      <ion-item-divider color="light">{{'MOVES.GM.LABEL' | translate}}</ion-item-divider>
      <ion-item *ngFor="let move of gmMoves">
        <p [innerHTML]="move.header"></p>
        <!--<p [innerHTML]="move.description | translate"></p> -->
      </ion-item>

      <ion-item-divider color="light">{{'MOVES.DUNGEON.LABEL' | translate}}</ion-item-divider>
      <ion-item *ngFor="let move of dungeonMoves">
        <p [innerHTML]="move.header"></p>
        <!--<p [innerHTML]="move.description | translate"></p> -->
      </ion-item>
    </ion-item-group>
    
  </div>

</ion-content>