<!--
  Generated template for the PlacesGenerator page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <common-header [pageTitleCode]='getTitleCode()'>
    
  </common-header>
</ion-header>

<ion-content padding>
  <button ion-button (click)="generatePlace()">{{'PLACES_GENERATOR_BUTTON' | translate}}</button>

  <ion-card *ngIf="place">

    <ion-card-header>
      {{place.type}}
    </ion-card-header>

    <ion-card-content>
      {{"CHARACTERISTICS" | translate}}:
      <ul>
        <li>{{place.adjective}}</li>
        <li>{{place.firstCharacteristic}}</li>
        <li>{{place.secondCharacteristic}}</li>
      </ul>
    </ion-card-content>

  </ion-card>
</ion-content>