<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <common-header pageTitleCode='APP_NAME'></common-header>

</ion-header>


<ion-content padding>
  <div >
    <p *ngFor="let p of getPages()" (click)="openPage(p)">
      <button ion-button>
        {{p.title | translate}}
      </button>
    </p>
  </div>
  
</ion-content>