<!--
  Generated template for the ModifiersTable page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <common-header [pageTitleCode]='getTitleCode()'>
    
  </common-header>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of table.header">
        <div><b>{{item | translate}}</b></div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let row of table.rows">
      <ion-col *ngFor="let col of row">
        <div>{{col}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
