<ion-list>
    <ion-item (click)="typeClicked(-1)"><b>{{'ALL' | translate}}</b></ion-item>
    <ion-item *ngFor="let type of getTypes(); let i = index" (click)="typeClicked(i)">
        {{type | translate}}
    </ion-item>
</ion-list>