<!--
  Generated template for the MonsterTreasureGenerator page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <common-header [pageTitleCode]='getTitleCode()'>

  </common-header>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label for="monsterDie">{{'MONSTER_DAMAGE_DIE' | translate}}</ion-label>
      <ion-select id="monsterDie" [(ngModel)]="selectedMonsterDie"
        okText="{{'OK' | translate}}" cancelText="{{'CANCEL' | translate}}">
        <ion-option *ngFor="let die of getDice()" value="{{die.value}}">
          {{die.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label for="monsterOptions">{{'THE_MONSTER_IS' | translate}}</ion-label>
      <ion-select id="monsterOptions" multiple="true" okText="{{'OK' | translate}}" cancelText="{{'CANCEL' | translate}}"
        [(ngModel)]="selectedMonsterOptions">
        <ion-option *ngFor="let option of getMonsterOptions()" value="{{option.type}}">
          {{option.nameCode | translate}}
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <button ion-button (click)="generateTreasures()">{{'GENERATE_TREASURE' | translate}}</button>

  <div *ngIf="monsterTreasures">
  <ion-card *ngFor="let treasure of monsterTreasures">

    <ion-card-content>
      <p>{{treasure.description}}</p>
    </ion-card-content>

  </ion-card>
  </div>

</ion-content>