<ion-header>
    <modal-header (dismissed)="dismiss()"></modal-header>
</ion-header>

<ion-content text-wrap>
    <ion-card>

        <ion-card-header [innerHTML]="entity.name">

        </ion-card-header>

        <ion-card-content>
            <i>{{entity.labelsString}}</i>
            <p [innerHTML]="entity.description"></p>
        </ion-card-content>

    </ion-card>


    <ion-item-group>
        <ion-item-divider color="light"><h2>{{'LABELS_DETAILS' | translate}}:</h2></ion-item-divider>
        <ion-item *ngFor="let label of entity.labels">
            <b>{{label.name}}:</b>
            <p>{{label.description}}</p>
        </ion-item>
    </ion-item-group>

</ion-content>