<!--
  Generated template for the DamageRules page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <common-header [pageTitleCode]='getTitleCode()'></common-header>

</ion-header>


<ion-content padding>
  
    <ion-item-group text-wrap>
      <ion-item *ngFor="let rule of generalRules">
        <h2 [innerHTML]="rule.header | translate"></h2>
        <p [innerHTML]="rule.description | translate"></p>
      </ion-item>
      <ion-item>
        <h2 [innerHTML]="'DAMAGE.OTHER.HEADER' | translate"></h2>
        <p [innerHTML]="'DAMAGE.OTHER.DESCRIPTION' | translate"></p>
        <ul>
          <li *ngFor="let item of otherDamageRules" [innerHTML]="item | translate"></li>
        </ul>
        <p [innerHTML]="'DAMAGE.OTHER.FOOTER' | translate"></p>
      </ion-item>
    </ion-item-group>
    
  
</ion-content>