<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <common-header [pageTitleCode]='getTitleCode()'></common-header>

</ion-header>


<ion-content padding>
  
  <h3>Dungeon World <br> Master Companion</h3>
  <p>{{'ABOUT.DWMASTERCOMPANION' | translate}}</p>
  <p>Esse aplicativo se baseou nas seguintes fontes:</p>
  
   
  <ion-card>
    <ion-card-header>
      Dungeon World
    </ion-card-header>
    <ion-card-content>
      <p [innerHTML]="'ABOUT.DW' | translate"></p>
      <p><a href="http://www.dungeon-world.com/">http://www.dungeon-world.com/</a></p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <div [innerHTML]="'ABOUT.PLACES_GENERATOR_TITLE' | translate"></div>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="'ABOUT.PLACES_GENERATOR_DESC' | translate"></div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div [innerHTML]="'ABOUT.NPC_GENERATOR_TITLE' | translate"></div>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="'ABOUT.NPC_GENERATOR_DESC' | translate"></div>
    </ion-card-content>
  </ion-card>
  
  
  
</ion-content>