<!--
  Generated template for the NpcGenerator page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <common-header [pageTitleCode]='getTitleCode()'> 
  </common-header>
</ion-header>


<ion-content padding>
  <form [formGroup]="npcForm" (ngSubmit)="generateNpc()">
    <ion-list no-lines>
      <ion-item>
        <ion-label for="numChars">{{'NUMBER_OF_CHARACTERISTICS' | translate}}:</ion-label>
        <ion-input id="numChars" type="number" formControlName="numberOfPersonalities"></ion-input>
      </ion-item>
      <ion-item *ngIf="!numberOfPersonalities.valid" error-message>
        {{getErrorMessage('numberOfPersonalities')}}
      </ion-item>
    </ion-list>

    <button ion-button type="submit" [disabled]="!npcForm.valid">{{'NPC_GENERATOR_BUTTON' | translate}}</button>
  </form>

  <ion-card *ngIf="npc">
    <ion-card-header>
      {{npc.name}}
    </ion-card-header>

    <ion-card-content>
      {{"CHARACTERISTICS" | translate}}:
      <ul>
        <li *ngFor="let personality of npc.personality">
          {{personality}}
        </li>
      </ul>
    </ion-card-content>

  </ion-card>
</ion-content>