<!--
  Generated template for the Labels page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <common-header [pageTitleCode]='getTitleCode()'>
    
  </common-header>
  
  
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap *ngFor="let label of entities">
      <h2>{{label.name}}:</h2>
      <p>{{label.description}}</p>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterEntities($event)" 
      placeholder="{{'SEARCH' | translate}}" [(ngModel)]="filter.name">
  </ion-searchbar>

  <ion-buttons end>
    <order-button #orderButton [(order)]="filter.order" (orderChange)="orderChanged($event)"></order-button>
  </ion-buttons>

  </ion-toolbar>
</ion-footer>