<ion-header>
  <modal-header (dismissed)="dismiss()"></modal-header>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header [innerHTML]="entity.header">

    </ion-card-header>

    <ion-card-content [innerHTML]="entity.description">
      
    </ion-card-content>

  </ion-card>

</ion-content>