<ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pageTitleCode | translate}}</ion-title>
    <ion-buttons end>
      <ng-content></ng-content>
    </ion-buttons>
</ion-navbar>