<!--
  Generated template for the Equipments page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <common-header [pageTitleCode]='getTitleCode()'>

  </common-header>

</ion-header>


<ion-content padding>
  <ion-list text-wrap>
    <ion-item *ngFor="let equipment of entities" (click)="openEquipmentDetails(equipment)">
      <h2>{{equipment.name}}</h2>
      <p>{{equipment.getTypeName() | translate}}</p>
      <i>{{equipment.labelsString}}</i>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterEntities($event)" placeholder="{{'SEARCH' | translate}}" [(ngModel)]="filter.name">
    </ion-searchbar>
    
    <ion-buttons end>
      <order-button #orderButton [(order)]="filter.order" (orderChange)="orderChanged($event)"></order-button>


      <button ion-button icon-only (click)="openTypesPopOver($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>